extends layouts/_layout

block variables
	-title = 'Главная'

block content

	//begin main
	.main

		//begin screen

		+b.SECTION.screen.section._screen.noise-bg#screen
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.slider-controls-wrap.container
				+e.slider-controls.slider-controls._gray
			+e.slider.slider.js-screen-slider
				+e.slider-item
					+e.bg(style='background-image: url(img/bg/screen-sld_bg-1.jpg)')
						+e.container.container
								+e.content
									+b.section-title._left._white._lg.screen__content-title
										+e.inner
											+e.I.icon.icon-R
											+e.H2.text._lg
												| РЕАЛЬНАЯ ЗАЩИТА ОТ УГОНА?&nbsp;
												span —&nbsp; ДА!
									+e.P.content-descr Удобство. Экономия. Эффeктивность
									+e.content-bot
										+e.content-price
											+e.SPAN.content-price-text от
											+b.price-block._white.screen__price-block
												+e.current
													span 10 000
														= ' '
														i ₽
										+btn({
											type: 'b',
											text: 'Заказать звонок',
											classMod: '_red screen__content-btn',
											popup: 'call-popup'
										})
								+e.img-wrap
									+e.IMG(src="img/bg/screen-sld_img-1.png" alt="image")
				+e.slider-item
					+e.bg(style='background-image: url(img/bg/screen-sld_bg-1.jpg)')
						+e.container.container
								+e.content
									+b.section-title._left._white._lg.screen__content-title
										+e.inner
											+e.I.icon.ocon-R
											+e.H2.text._lg
												| АВТОМАТИЧЕСКИЙ ЗАПУСК ДВИГАТЕЛЯ?&nbsp;
												span —&nbsp; ДА!
									+e.P.content-descr Расчетливость. Продуктивность. Комфорт
									+e.content-bot
										+e.content-price
											+e.SPAN.content-price-text от
											+b.price-block._white.screen__price-block
												+e.current
													span 10 000
														= ' '
														i ₽
										+btn({
											type: 'b',
											text: 'Заказать звонок',
											classMod: '_red screen__content-btn',
											popup: 'call-popup'
										})
								+e.img-wrap
									+e.IMG(src="img/bg/screen-sld_img-2.png" alt="image")
			+b.BUTTON.scroll-next-btn.js-scroll-to: +i('angle-down')
			+arcDecor('1')

		// end screen

		// begin advantages
		+b.SECTION.advantages.section.section_advantages.js-scroll-dest#advantages
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.container.container
				+b.section-title._center._black.advantages__title
					+e.inner
						+e.I.icon.icon-N
						+e.H2.text
							| Наши
							span Преимущества	
				+e.row.row
					+e.A.item(href= "!#" data-popup-target='consult-popup')
						+e.item-decor
						+e.item-top
							+e.H5.item-item-title.title._black Гарантия
							+e.item-icon(class="icon-certificate")
						+e.UL.item-list.list-triangled
							li
								strong На работу —
								= ' '
								span до смены владельца
							li
								strong На оборудывание —
								= ' '
								span согласно условиям производителя
					+e.A.item(href= "!#" data-popup-target='consult-popup')
						+e.item-decor
						+e.item-top
							+e.H5.item-item-title.title._black Стоимость
							+e.item-icon(class="icon-like")
						+e.item-list.list-triangled
							li
								span Боль конкуретов
							li
								span Без скрытых условий
							li
								span Фактический расчет
							li
								span Отсутствие посредников
					+e.A.item(href="!#" data-popup-target="consult-popup")
						+e.item-decor
						+e.item-top
							+e.H5.item-item-title.title._black Техподдержка
							+e.item-icon(class="icon-wrench")
						+e.UL.item-list.list-triangled
							li
								strong 24/7 — 
								= " "
								span без выходных
							li
								span с пониманием
							li
								span По эксплуатации и техническим вопросам
					+e.A.item(href="!#" data-popup-target="consult-popup")
						+e.item-decor
						+e.item-top
							+e.H5.item-item-title.title._black Скидки
							+e.item-icon(class="icon-discount") 
						+e.UL.item-list.list-triangled
							li 
								span По рекомендации
							li
								span Повторное обращение
							li
								span Индивидуальные ситуации
			+arcDecor('1', true)
		+b.SECTION.faq.section._faq.noise-bg._type-1#faq
			.section__line.section_line_l
			.section__line.section_line_c
			.section__line.section_line_r
			+e.container.container
				+b.section-title._left._white.faq__title
					+e.inner
						+e.I.icon(class="icon-Z")
						+e.H2.text Захотят 
							= " "
							span — Угонят?
					+e.descr._color-2 Распространённые мнения автолюбителей об угоне 
				+e.row.row
					+e.item
						+e.item-inner
							+e.H5.item-title.title._white Автомобиль не нуждается в средствах защиты от сторонних производителей
							+e.P Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изьянов для взлома.
					+e.item
						+e.item-inner
							+e.H5.item-title.title._white Автомобиль не нуждается в средствах защиты от сторонних производителей
							+e.P Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изьянов для взлома.
					+e.item
						+e.item-inner
							+e.H5.item-title.title._white Автомобиль не нуждается в средствах защиты от сторонних производителей
							+e.P Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изьянов для взлома.
					+e.item
						+e.item-inner
							+e.H5.item-title.title._white Автомобиль не нуждается в средствах защиты от сторонних производителей
							+e.P Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изьянов для взлома.
					+e.item
						+e.item-inner
							+e.H5.item-title.title._white Автомобиль не нуждается в средствах защиты от сторонних производителей
							+e.P Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изьянов для взлома.
					+e.item
						+e.item-inner
							+e.H5.item-title.title._white Автомобиль не нуждается в средствах защиты от сторонних производителей
							+e.P Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изьянов для взлома.
							
							



			
			



					


				



		
							

